.workspaces {
  position: relative;
  font-family: "Poppins";
}


.workspaces-title {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  padding: 0 5px;
}

.workspaces-title h4 {
  font-size: 24px;
  font-weight: 500;
}

/* .workspaces-item {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
  max-width: 180px;
  position: relative;
} */
@media only screen and (max-width:500px) {
  .workspaces {
    position: fixed;
    font-family: "Poppins";
    z-index: 499;
    top: 0;
    bottom: 0;
    left: -100%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 115px;
    transition: all .5s;
  }

  .workspaces.clicked {
    left: 0%;
  }
}